

.card {
  width: 75px;
  height: 100px;
  border: 1px solid #666;
  position: relative;
  background-color: white;
  box-shadow: .2em .2em .5em #333;
  font-family: Monaco, Lucida Sans Unicode, sans-serif;
  -moz-box-shadow: .2em .2em .5em #333;
  -webkit-box-shadow: .2em .2em .5em #333;
  -webkit-border-radius: .3em;
}

.card-action {
  width: 70px;
  height: 80px;
  position: relative;
  background-color: #f5f5f5;
  -webkit-border-radius: .3em;
  margin-top: 13px;
}

.row {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1.5em 0;
  position: relative;
  clear: both;  
}


ul.cards li {
  margin: 3px;
  padding: 0;
  list-style-type: none;
  float: left;
}
  
.spades, .clubs {
  color: black;
}

.hearts, .diams {
  color: red;
}

.rank {
  position: absolute;
  top: 38px;
  left: 30px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.suit {
  position: relative;
  top: 40px;
  right: 2px;
  font-size: 94px; 
  font-family: Monaco, Lucida Sans Unicode, sans-serif;
}

.credit {
  font-size: 28px;
  margin-left: 0;
}

.credit.win {
  background-color: #dff0d8;
}

.credit.lose {
  background-color: #f2dede;
}

.bet .btn {
  font-size: 18px;
}

.alert {
  text-align: center;
  font-size: 28px;
  padding-bottom: 18px;
  padding-top: 15px;
  border-radius: 15px;
}

.alert.none {
  background-color: transparent;
  border: none;
}

.alert-container {
  height: 55px;
}

.hide {
  display: none;
}

.hand {
  top: -100px;
  height: 100px;
}

.btn.disabled {
  opacity: 0.45;
  background-color: #E6E6E6;
  color: gray;
}
.controls {
  text-align: center;
}
/* Inspired by http://culttt.com/2012/02/08/css3-gradients-and-textures/ */
.table {
  padding-bottom: 25px;
  padding-top: 40px;
  border-radius: 20px;
  background-color: #ededed;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237,237,237, 0.5)), color-stop(100%, rgba(153,153,153, 0.5))), url(purty_wood.png),;
  background-image: -webkit-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url(purty_wood.png);
  background-image: -moz-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url(purty_wood.png);
  background-image: -ms-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url(purty_wood.png);
  background-image: -o-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url(purty_wood.png);
  background-image: linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url(purty_wood.png);
}